


*, *::before, *::after {
    box-sizing: border-box;
    
}

/* Customize styles */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #ffff;
    --clr-dark: #777373;
    --clr-accent: #242434;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    /* --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25); */
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

html {
    scroll-behavior: smooth;
}
body {
 /* background-image: url("/Users/mb/Desktop/Projects/Practice/kevin portfol/ablakozok html/img/kep.jpg"); */
 

 background: linear-gradient(90deg, hsla(312, 66%, 76%, 1) 0%, hsla(234, 93%, 67%, 1) 100%);
 
 



    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}
                                         /* Árajánlat kérő!!! */
.container {


    width: 100%;
    height: 90vh;
    background: linear-gradient(45deg, #c98aee 0%, rgba(225, 5, 34, 0) 70%) repeat scroll 0% 0%, linear-gradient(135deg, #e4d976 10%, rgba(49, 5, 209, 0) 80%) repeat scroll 0% 0%, linear-gradient(225deg, #5ebfd0 10%, rgba(10, 219, 216, 0) 80%) repeat scroll 0% 0%, rgba(0, 0, 0, 0) linear-gradient(315deg, #a9ded9 100%, rgba(9, 245, 5, 0) 70%) repeat scroll 0% 0%;

 
    display: flex ;
    align-items: center;
    justify-content: center ;
    border-radius: 45px;
    text-align: center;
}
              

form {
    display: flex;
    flex-direction: column;
    /* padding: 2vw  4vw ; */
    width:  85%;
    /* max-width: 600px; */
    border-radius: 10px;     
align-items: center;
text-align: flex;
/* padding-left: 230px; */

}

form h3 {
    color: red;
    font-weight: 800;
    margin-bottom: 20px;
}

form input{
    border: 0;
    width: 250px;
    height: 35px;
border-radius: 15px;
font-size: 16px;


}
form button {
    /* padding: 15px; */
    font-size: 18px;
    border: 0;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 30px;
    /* margin: 50px auto 0 ; */


}


                            /* Katalogus */

/* .fajl {
    width: 100%;
    height: 30vh;
    border-radius: 45px;
    align-items: center;
    background: linear-gradient(45deg, #e4c1f8 0%, rgba(225, 5, 34, 0) 70%) repeat scroll 0% 0%, linear-gradient(135deg, #fcf6be 10%, rgba(49, 5, 209, 0) 80%) repeat scroll 0% 0%, linear-gradient(225deg, #90e0ee 10%, rgba(10, 219, 216, 0) 80%) repeat scroll 0% 0%, rgba(0, 0, 0, 0) linear-gradient(315deg, #a9ded9 100%, rgba(9, 245, 5, 0) 70%) repeat scroll 0% 0%;
}

.katacim {
    font-size: 5ch;
    margin-left: 115px;
    font-family: var(--ff-primary);
    line-height: 1.6;
 } */



 .logos {

    border-radius: 45px;
    width: 100%;
    height: 17vh;
    background-color: #242434;
    display: flex;
    padding:35px;
   
   
 }



                            /* Katalogus Vége */

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: bold;
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 2px;
}

/* Button */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    border-radius: 10px;
    filter: blur(10%);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    /* transition: 200ms, ease-in-out; */
    transform: scale(1.1);
}

/* Typography */

h1, h2 h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }



                /* Szolgáltatások menűpont */
.section__title {
    margin-bottom: .25em;
    color: rgb(255, 255, 255);

    
    font-family: azonix;
    /* transform: translate(-50% ,-50%); */
   
    font-size: 80px;
    text-align: center;
}



.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro, .section__subtitle--about {
    background-color: var(--clr-accent);
    font-family: var(--ff-seconday);
    margin-bottom: 1em;
    padding: 0.25em;
}

.section__subtitle--work {
    color: var(--clr-dark);
    font-weight: var(--fw-bold);
    margin-bottom: 20px;
}


/* header */

.nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1em;
    position: fixed;
    background: #242434;
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    border-radius: 100px;
    opacity: .95;
    margin: 5em;

    transform: translateX(150%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--ff-secondary);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-dark);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: fixed;
    left: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0%);
}

.nav-open .nav-toogle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translate(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger, .hamburger::before, .hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {top: 6px;}
.hamburger::after {bottom: 6px;}

/* Intro section */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
    min-width: 250px;
    position: relative;
    z-index: -2;
    border-radius: 40px;
}

.about-me__img {
    border-radius: 30px;
}

.section__subtitle--intro {
    display: inline-block;
    border-radius: 10px;
}

.section__subtitle--about {
    display: inline-block;
    border-radius: 10px;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }

    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
        top: 30px;
    }
}

.my-services {
    
    
    /* background-color: var(--clr-dark); */
    /* background-image: url(../img/wallpapersden.com_my-simple-night_1920x1080.jpg); */

    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(13, 47, 105) 100%);
    background-size: auto, auto;
    color: var(--clr-light);
    text-align: center;
box-shadow:  linear-gradient(180deg, hsla(280, 84%, 41%, 1) 0%, hsla(218, 97%, 56%, 1) 100%);
    border-radius: 45px;
    
    
}

.my-services ul li {
    
        position: absolute;
        width: 35px;
        height: 35px;
        list-style: none;
        opacity: 0;
        background: radial-gradient(deepskyblue, transparent, transparent );
        bottom: 0;
        left: 10vw;
        animation: animate 15s linear infinite;
    }
    
    .box ul li:nth-child(2){
        left: 37vw;
        animation-delay: 2s;
    }
    
    .box ul li:nth-child(3){
        left: 25vw;
        animation-delay: 4s;
    }
    
    .box ul li:nth-child(4){
        left: 60vw;
        animation-delay: 6s;
    }
    
    .box ul li:nth-child(5){
        left: 75vw;
        animation-delay: 4 s;
    }
    
    @keyframes animate {
        0% {
            transform: scale(0);
            opacity: 1;
            bottom: 0;
        }
        100% {
            transform: scale(10);
            opacity: 0;
            bottom: 100vh;
        }
    }
    


.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

#section__title--services::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 40%;
}

.service {
    margin-bottom: 4em;
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {  
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

/* My Work */

.my-work {
    background-image: url(../img/wallpapersden.com_my-simple-night_1920x1080.jpg);
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
    border-radius: 45px ;
    box-shadow:  linear-gradient(180deg, rgb(57, 8, 82) 0%, rgb(11, 44, 101) 100%);
    
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.portfolio__item {
    background-color: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img {
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover, 
.portfolio__item:focus .portfolio__img {    
    transform: scale(1.2);
    opacity: 0.5;
}

/* Footer */

.footer {
    background: #111;
    box-shadow: 0 0 8px 12px #ffff inset;
    text-align: center;
    padding: 2.5em 0;
}

.footer a {
    color: var(--clr-dark);
    text-decoration: none;
    font-weight: var(--fw-bold);
}

.footer__link {
    font-size: var(--fs-h3);
}

.footer__link:hover, .social-list__link:hover {
    opacity: .6;
}

.footer__link:hover {
    text-decoration: underline;
}

.alup {
   width: 16%;
   float: left;
   width: 100px;
   padding: 5px;
   
}




  

    
  
  
  
  










.social-list {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}
